.main {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

.main h1 {
    text-align: center;
    margin-bottom: 40px;
}

.main h2 {
    text-align: center;
    margin-bottom: 40px;
}