@media (max-width: 760px) {
    html {
        overflow-x: hidden;
    }
    nav .mobile {
        display: block;
        cursor: pointer;
        z-index: 1000;
    }

    nav .nav-items {
        flex-direction: column;
        width: 100%;
        display: none;
        /*experimental*/
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        top: 0;
    }

    nav .nav-items a {
        padding: 0.5rem 0;
        /*font-size: 1.5rem;*/
    }

    nav .nav-items.active {
        /*display: flex;
        flex-direction: column;
        margin-top: 600px;
        z-index: 1000;*/

        animation-duration: 1s;
        animation-name: slideIn;
        animation-timing-function: ease-in-out;

        animation-fill-mode: forwards;

        display: flex;
        z-index: 1000;
        background-color: green;
        margin-top: 50px;
        overflow-x: hidden;
        position: absolute;
        left: 0;
        padding-left: 10%;
        padding-bottom: 3vh;
        z-index: 1000;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-150vw);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .hero-content {
        padding: 5%;
    }

    .cta-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 20px;
    }

    footer {
        flex-direction: column;
        gap: 1rem;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 600px) {
    /*.hero-content h1 {
        font-size: 2rem;
    }

    .hero-content p {
        font-size: 1rem;
    }

    .cta-button, .cta-button2 {
        padding: 10px 20px;
        font-size: 1rem;
    }*/

    .service-cards .card {
        width: 90vw;
    }
}