@media (max-width: 760px) {
    nav .mobile span {
        display: block;
    }

    nav .nav-items {
        width: 100vw !important;
        height: 70vh;
        display: none;
        background-color: green;
    }

    nav .nav-items a {
        padding: 10px 0;
        font-size: 1.5rem;
    }

    nav .nav-items.active {
        display: flex;
        flex-direction: column;
        margin-top: 600px;
        z-index: 1000;
    }
}