* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    overflow-x: hidden ;
    width: 100vw;
}

.hero {
    height: 80vh;
    width: 100%;
    background: url('images/hero.jpeg')center center/cover no-repeat;
}

nav {
    background-color: green;
    color: #fff;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav .logo {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}

nav .mobile {
    display: none;
    height: 50%;
    cursor: pointer;
    align-items: center;
}

nav .mobile span {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 2px;
    background-color: #fff;
    margin: 5px;
}

nav .nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10% 0;
}

nav .nav-items a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

nav .nav-items .nav-contact {
    padding: 10px 20px;
    background-color: #fff;
    color: green;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

nav .nav-items .nav-contact:hover {
    background-color: #6fee84;
}

.hero-content {
    width: 100%;
    height: calc(80vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}   

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.cta-container {
    display: flex;
    gap: 20px;
}

.cta-button, .cta-button2 {
    padding: 15px 30px;
    font-size: 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button {
    background-color: green;
    color: #fff;
}
.cta-button2 {
    background-color: #fff;
    color: green;
}

.cta-button:hover {
    background-color: #fff;
    color: green;
}

.cta-button2:hover {
    background-color: green;
    color: #fff;
}

.services {
    width: 100vw;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5vh;
}

.services h1 {
    text-align: center;
    margin-bottom: 40px;
}

.service-cards {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
    background-color: #333;
    border-radius: 15px;
    padding: 3vh;
    flex-wrap: wrap;
}

.service-cards .card {
    background-color: #e2e2e2;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.service-cards .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.service-cards .card a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: green;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 3vh;
}

.service-cards .card a:hover {
    background-color: #fff;
    color: green;
}

.whatsapp-link {
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.whatsapp-link img, .phone-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.whatsapp-link:hover, .phone-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.phone-link {
    position: fixed;
    bottom: 20%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link {
    position: fixed;
    bottom: 30%;
    right: 5%;
    width: 60px;
    height: 60px;
    z-index: 1000;
    background-color: #e6e6e6;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.email-link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.email-link:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.faqs {
    width: 100%;
    height: auto;
    background-color: #000;
    padding: 4rem 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e6e6e6;
    margin-top: 2rem;
}

.faqs h1 {
    text-align: center;
    text-decoration: underline;
    padding: 2rem 0;
    font-size: clamp(2rem, 5vw, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.faqs-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.faq-item {
    background-color: #222;
    border-radius: 10px;
    padding: 1rem 2rem;
}

.faq-item h3 {
    font-size: 1.5rem;
}

.faq-item p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

footer {
    background-color: #6fee84;
    color: #000;
    text-align: center;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

footer p {
    margin: 0;
}

footer .social-media a {
    margin: 0 10px;
    text-decoration: none;
}

footer .social-media img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
footer .social-media a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}